@import 'normalize.css';
@import 'variables';

@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    margin : 0px;
    padding : 0px;
    box-sizing : border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
  }